%section.enterprise-edition
  .container
    .row.flex-row.text-center
      .col-md-10.col-md-offset-1
        %h3.main-heading
          Try GitLab Ultimate free for 30 days.
        %p.u-margin-bottom-xs
          Evaluate self-managed GitLab for 30 days and receive all the features of Ultimate, our top-tier subscription plan, for free.
          %strong No credit card required.

        = link_to "/free-trial/", class: "btn cta-btn accent" do
          Start your free trial
        = link_to "/demo/", class: "btn cta-btn btn-white" do
          Watch a demo
